body {
    background-color: aqua; } 

h1 {color:blueviolet;
margin-left: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;}

  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: 
}
.footer { 
  position sticky;
  left : 0%;
  bottom: 0px;
  width: 100%;
 background-color :black; 
 color :white;
 text-align: center; 
}

#rechter- onder- foto { 
  position:abslolute; 
  bottom: 20px;
  right: 20px 
  width 225pc;
  border-radius: 8px; 
  box-shadow: 0 0 8px white ( 0,0,0,0.3);
  z-index: 1000;
  background-color: white
  padding: 5px;
}